  .lp-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/paper.jpg'); /* 배경 이미지 */
    background-size: cover;
    overflow: hidden;
  }

  .lp-header {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    font-family: 'Ownglyph', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .lp-box {
    position: absolute;
    top: 100px; /* 제목 아래 여백 */
    left: 100px;
    right: 500px;
    bottom: 80px; /* 캘린더 위 여백 */
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 20px; /* 카드 간 간격 */
    justify-content: center; /* 카드 중앙 정렬 */
    align-content: center; /* 상하 중앙 정렬 */
  }
  
  .lp-cover {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .lp-cover img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .lp-cover:hover {
    transform: scale(1.1);
  }

  .lp-page-container {
    background-color: #f5f5f5;
    padding: 20px;
    position: relative;
    font-family: 'Ownglyph', sans-serif;
  }


  
  .lp-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/lp5.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .lp-detail-container {
    background-image: url('./images/kraftpaper.jpg'); /* 상자 배경 */
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .lp-cover-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* LP 표지와 디스크 간격 */
  }
  
  .lp-cover-detail {
    width: 250px;
    height: 250px;
    display: flex;
    left: 10%;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  
  .lp-cover-detail img {
    width: 100%; /* 부모 크기만큼 맞춤 */
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    animation: fade-in 0.5s ease;
  }
  
  .lp-disk {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url('./images/LPimage.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    animation: spin 2s linear infinite;
  }
  
  .lp-info {
    font-family: 'Ownglyph', sans-serif;
    color: #333;
  }

  .lp-info p{
    font-family: 'Ownglyph', sans-serif;
    font-size: 20px;
    color: #333;
  }

  .lp-info h2{
    font-family: 'Ownglyph', sans-serif;
    font-size: 28px;
    color: #333;
  }
  
  .play-button {
    padding: 10px 20px;
    background-color: #6F6F4B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ownglyph', sans-serif;
    font-size: 18px;
  }
  
  .play-button:hover {
    background-color: #F2B03F;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  